.headline {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.bucketlist {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}